body{
  background-color: lightblue;
}

.App{
  display: flex;
  flex-direction: row;
}

form{
  background-color: white;
  width: 40%;
  height: 40vh;
  margin-top: 10vh;
  margin-left: 5%;
  border: solid grey 1px;
  border-radius: 20px;
  box-shadow: lightgray 0px 3px 3px;
  padding: 20px;
}

.order-list{
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-left: 5%;
  width: 15%;
  float: left;
  height: 40vh;
  border: solid grey 1px;
  border-radius: 20px;
  box-shadow: lightgray 0px 3px 3px;
}

.form-group-main{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.form-group-sub{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form-group-btn{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.form-group-cell{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.form-group-cell-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form-group-cell-2 #input{
  width: 70%;
}

.form-group-cell-3{
  width: 60%;
}

.form-group-cell-3 label{
  width: 20%;
}